/.DS_Store
/Capture d’écran 2023-09-26 à 12.22.24.png
/HAL_buzzwords.csv
/HAL_buzzwords.numbers
/Stat_Clara_BOURDON.ipynb
/bubble_plot_france.html
/bubble_plot_france_0812.html
/bubble_plot_france_filtered.html
/certificate.pdf
/certificate_matplotlib.pdf
/coutparhabitant.csv
/dash_app.html
/data_vis.ipynb
/dataanalysis2209_BOURDON.ipynb
/dataanalysis2909_BOURDON.ipynb
/dataanalysis_BOURDON.ipynb
/df_thesis.csv
/map.html
/maptest.html
/prixparhabitant.csv
/scrapping.ipynb
/test.py
/testbuzz.ipynb